/* Color */
@import "./colors";
/* Color */

html {
    font-size: 14px !important;
}

.app {
    min-height: 100vh;
}

.page-enter-to,
.page-leave {
    opacity: 1;
    transform: scale(1);
}

.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
    transform: scale(0.8);
}
